.btn-secondary, .btn[disabled] {
    background-color: #6c757d;
    border-color: #6c757d;
}

.custom-checkbox .form-check-input {
    border-color: #007bff;
}

.custom-checkbox .form-check-input:checked {
    background-color: #007bff;
    border-color: #0056b3;
}

.first-card-padding {
    padding-left: 15px;
}

.last-card-padding {
    padding-right: 15px;
}

.card-spacing {
    margin-right: 15px; 
}

.card-spacing:last-child {
    margin-right: 0;
}


@font-face {
    font-family: 'Facon';
    src: url('../fonts/Facon.woff2') format('woff2'),
         url('../fonts/Facon.woff') format('woff'),
         url('../fonts/Facon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.brand-text {
    font-family: 'Facon', sans-serif !important; /* Fallback to sans-serif */
}

.info-icon:hover .info-text {
    visibility: visible;
}

.info-text {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 5px;
    padding: 5px;
    max-width: 300px;
    padding: 5px;
    z-index: 999;
    color: #000;
}

  